@page "/chess"
@using System.Numerics
@using Chessor.Helpers
@using Chessor.Interfaces

<PageTitle>Chess</PageTitle>

<div class="text-title center">Modify your board</div>

@* White Board *@
<div class="chess-container center">
    <ChessBoard Chess="this"></ChessBoard>
</div>


@* Create Pieces  *@
<div class="center">
    <table>
        <tr>
            <td class="chess-piece-holder">
                <ChessPiece Chess="this"/>
                <ChessPiece Chess="this"/>
            </td>
            @* <td class="chess-piece-holder"> *@
            @*     <img src="Images/PawnWhite.png" class="chess-piece"> *@
            @* </td> *@
            @* <td class="chess-piece-holder"> *@
            @*     <img src="Images/PawnWhite.png" class="chess-piece"> *@
            @* </td> *@
            @* <td class="chess-piece-holder"> *@
            @*     <img src="Images/PawnWhite.png" class="chess-piece"> *@
            @* </td> *@
            @* <td class="chess-piece-holder"> *@
            @*     <img src="Images/PawnWhite.png" class="chess-piece"v> *@
            @* </td> *@
            @* <td class="chess-piece-holder"> *@
            @*     <img src="Images/PawnWhite.png" class="chess-piece"> *@
            @* </td> *@
            @* <td class="chess-piece-holder"> *@
            @*     <img src="Images/PawnWhite.png" class="chess-piece"> *@
            @* </td> *@
            @* <td class="chess-piece-holder"> *@
            @*     <img src="Images/PawnWhite.png" class="chess-piece"> *@
            @* </td> *@
        </tr>
        @* <tr> *@
        @*     <td class="chess-piece-holder"> *@
        @*         <img src="Images/RookWhite.png" class="chess-piece"> *@
        @*     </td> *@
        @*     <td class="chess-piece-holder"> *@
        @*         <img src="Images/KnightWhite.png" class="chess-piece"> *@
        @*     </td> *@
        @*     <td class="chess-piece-holder"> *@
        @*         <img src="Images/BishopWhite.png" class="chess-piece"> *@
        @*     </td> *@
        @*     <td class="chess-piece-holder"> *@
        @*         <img src="Images/QueenWhite.png" class="chess-piece"> *@
        @*     </td> *@
        @*     <td class="chess-piece-holder"> *@
        @*         <img src="Images/KingWhite.png" class="chess-piece"> *@
        @*     </td> *@
        @*     <td class="chess-piece-holder"> *@
        @*         <img src="Images/BishopWhite.png" class="chess-piece"> *@
        @*     </td> *@
        @*     <td class="chess-piece-holder"> *@
        @*         <img src="Images/KnightWhite.png" class="chess-piece"> *@
        @*     </td> *@
        @*     <td class="chess-piece-holder"> *@
        @*         <img src="Images/RookWhite.png" class="chess-piece"> *@
        @*     </td> *@
        @* </tr> *@
    </table>
</div>


@code
{
    private List<IPickable> m_Pickables = new List<IPickable>();
    private float m_PickRange = 50;
    private IPickable? m_CurrentPickable = null;
    
    public ChessBoard Board { get; set; }
    
    public void AddPickable(IPickable pickable)
    {
        Console.WriteLine("Add pickable");
        m_Pickables.Add(pickable);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            MouseEvent.OnClick += OnMouseClick;
            MouseEvent.MouseMove += MouseMove;
        }
    }

    private void MouseMove(Vector2 position)
    {
        if (m_CurrentPickable != null)
        {
            Console.WriteLine("In pick movement");
            m_CurrentPickable.InPickMovement(position);
        }
    }

    private void OnMouseClick(Vector2 position)
    {
        Console.WriteLine("On mouse click");
        if (m_CurrentPickable == null)
        {
            TrySelect(position);
        }
        else
        {
            TryRelease();
        }
    }

    private void TryRelease()
    {
        m_CurrentPickable?.Release(MouseEvent.MousePosition);
        m_CurrentPickable = null;
    }

    private void TrySelect(Vector2 position)
    {
        if(m_Pickables.Count == 0)
            return;
        
        
        IPickable closest = m_Pickables.GetClosest(position,out float distance);
        Console.WriteLine(distance);

        if (distance < m_PickRange)
        {
            closest.TryPick(position, out bool newPicked);
            Console.WriteLine(newPicked);
            if (newPicked)
                m_CurrentPickable = closest;
        }
    }
}
